<section>
	Your Guild is upgraded to level {{guild_level}}.<br>
	Now your guild can hold at most {{adventurer_room}} Adventurers and {{quest_room}} Quests.<br>
	Your clinic and canteen now have capacity of {{newCapacity}}.
</section>