<p class="facilityResult">
	Your adventurer {{adventurer.name}} has gained
	{{#if hp_gain}}
		{{hp_gain}} HP in the clinic
	{{/if}}
	{{#if energy_gain}}
		{{energy_gain}} energy points in the canteen
	{{/if}}
	.
</p>