<section style="position: absolute; top:5px; right: 5px;">
	<button class="btn btn-primary" id='backToLogin' onclick='location.reload()'>Back to Login Page</button>
</section>
<div>
	<div class="container-fluid">
		<div class="blog-header" id="title">
			<h1 class ="blog-title" style='text-align: center'>Guild Masters</h1>
		</div>
		<div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
			You can reset your password here:
			<form>
				<div class="form-group">
				    <label class="control-label">Email address</label>
				    <input type="email" class="form-control" id="email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="Password">New Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="ConfirmPassword">Confirm New Password</label>
					<input type="password" class="form-control" id="confirmPassword" placeholder="Password">
				</div>
				<div class="form-group">
					<label class="control-label">Enter the code here:</label>
				    <input type="text" class="form-control" id="token" placeholder="Activation Code">
				</div>	
			</form>
			<div id='alert'></div>
			<button class="btn btn-default" id='getTokenForReset'>Get Confirmation token</button><button class="btn btn-primary" id='resetPassword'>Reset Password</button>
		</div>
	</div>
</div>