<div>
	<div class="container-fluid">
		<div class="blog-header" id="title">
			<h1 class ="blog-title" style='text-align: center'>Guild Masters</h1>
		</div>
		<div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
			<form>
				<div class="form-group">
				    <label class="control-label">Email address</label>
				    <input type="email" class="form-control" id="email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="ConfirmPassword">Confirm Password</label>
					<input type="password" class="form-control" id="confirmPassword" placeholder="Password">
				</div>			
			</form>
			<div id='alert'></div>
			<button class="btn btn-default" id='signupButton'>Signup Now!</button>
		</div>
	</div>
</div>