<p class="eventNext">
	Your are scouting for Adventueres and Quests.<br>
	Start time: {{start_time}} <br>
	End Time: {{end_time}} <br>
	<button type='button' class='btn btn-primary' onclick='GM.EventModel.completeNextEvent()'>
		Proceed to reach the end of this event
	</button>
</p>