<p class="eventNext">
	A Quest is carried on by your Adventurers.<br>
	Start time: {{start_time}} <br>
	End Time: {{end_time}} <br>

	<button type='button' class='btn btn-primary' onclick='GM.EventModel.completeNextEvent()'>
		Proceed to complete this quest.
	</button>

	<ul>
		<li>Difficulty: {{quest.difficulty}}</li>
		<li>Reward: {{quest.reward}}</li>
	</ul>

</p>