<section class='questNew'>
	<h3>New Quests received</h3>
	<p class="quest">
		Quest Description: {{description}}
		<ul>
			<li>Difficulty: {{difficulty}}</li>
			<li>Reward: {{reward}}</li>
		</ul>
	</p>
	<button type="button" class="btn btn-primary" onclick='showSection("quests")'>Back to list of quests</button>
</section>