<div>
	<div class="container-fluid">
		<div class="blog-header" id="title">
			<h1 class ="blog-title" style='text-align: center'>Guild Masters</h1>
		</div>
		<div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
			<h3 style='text-align: justify'>
				You need to activate your account before you can login to the game.<br>
			</h3>
				<form class="form-inline">
					<div class="form-group">
					    <label class="control-label">Email address</label>
					    <input type="email" class="form-control" id="email" placeholder="Email">
					</div>
					<div class="form-group">
						<label class="control-label">Enter the code here:</label>
					    <input type="text" class="form-control" id="activationCode" placeholder="Activation Code">
					</div>
				</form>
				<br>
				<button type="submit" class="btn btn-primary" id="activateAccount">Activate account</button>
				<button class="btn btn-default" id="resendEmail">Resend Confirmation email</button>
		</div>
	</div>
</div>