<div>
	<div class="container-fluid">
		<div class="blog-header" id="title">
			<h1 class ="blog-title" style='text-align: center'>Guild Masters</h1>
		</div>
		<div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
			<h3 style='text-align: center'>
				Congratulations! You have signed up successfully.
				A confirmation email has been sent to your email address.
				Please activate your account using the link provided in the email.<br>
				<button class="btn btn-default" id="backToLogin">Back to login Page</button>
			</h3>
		</div>
	</div>
</div>