<div id = 'gameWindow'>
	<div class="btn-group" style="float:right">
	  <button type="button" class="btn btn-warning" id='logout' onclick='logout()'>Logout</button>
	</div>
	<h1>Guild Masters</h1>
	<canvas id="timeBar" width="1000" height="100"></canvas>
	<div class="btn-group">
	  <button type="button" class="btn btn-primary" id='home'>Home</button>
	  <button type="button" class="btn btn-primary" id='events'>Events</button>
	  <button type="button" class="btn btn-primary" id='adventurers'>Adventurers</button>
	  <button type="button" class="btn btn-primary" id='quests'>Quest</button>
	</div>

	<div id='mainContainer'></div>
</div>