<section id = 'gameWindow'>
	<section class="btn-group" style="float:right">
	  <button type="button" class="btn btn-warning" id='logout' onclick='logout()'>Logout</button>
	</section>
	<h1>Guild Masters</h1>
	<canvas id="timeBar" width="1100" height="70"></canvas>
	<section class="btn-group">
	  <button type="button" class="btn btn-primary" id='home'>Home</button>
	  <button type="button" class="btn btn-primary" id='adventurers'>Adventurers</button>
	  <button type="button" class="btn btn-primary" id='quests'>Quests</button>
	  <button type="button" class="btn btn-primary" id='facilities'>Facilities</button>
	  <button type="button" class="btn btn-primary" id='scout'>Scout</button>
	  <button type="button" class="btn btn-primary" id='events'>Events</button>
	</section>

	<section id='mainContainer'></section>
</section>