<section>
	<section class="btn-group" style="float:right">
		<button type="button" class="btn btn-info" id='backToGame' onclick='showGame()'>Back to Game</button>
	 	<button type="button" class="btn btn-warning" id='logout' onclick='logout()'>Logout</button>
	</section>

</section>