<section>
	<p>Good morning! You have just passed another day as the GuildMaster.</p>
	{{#if num_adv}}
		<p>{{num_adv}} Adventurers have joined your Guild.</p>
	{{/if}}
	{{#if num_quest}}
		<p>{{num_quest}} new Quests received beased on requests from the villagers.</p>
	{{/if}}
</section>