<div class='row'>
	<button type='button' id='newQuest' onclick="GM.QuestModel.getNewQuests()">Get new Quest</button>

	<div id='questList'>
	{{#each quests as |quest|}}
		{{> quest}}
	{{/each}}
	</div>
</div>