<h1>Error 404</h1>
<br/>
<br/>
<p>Sorry, the url you have entered is not available</p>
<br/>
<p>Click here to go <%= link_to "Home", "http://172.25.79.43:3000/"%> if you are connected to NUS Computing
  <br/>
  or
  <br/>
  Click here to go <%= link_to "Home","http://localhost:3000/"%> if you are running the server on your computer </p>