<section class='guildmaster'>
	Hi Guild Master!
	The current time is {{game_time}}<br>
	The amount of gold you own is {{gold}}<br>
	You have 1 Guild: <br>
	{{> guild guild}}
	Assign some Adventurers to Complete some Quests to level up!
</section>