<section class="ScoutResult">
	During the scouting, you have received
	{{#if adv_gain}}
		{{adv_gain}} new Adventurer(s)
	{{else}}
		no new Adventurers
	{{/if}}
	, and 
	{{#if qst_gain}}
		{{qst_gain}} new quest(s)
	{{else}}
		no new Quests
	{{/if}}
	.
</section>