<section class="ScoutResult">
	During the scouting, you have received
	{{#if adv_gain}}
		{{adv_gain}} new Adventures
	{{else}}
		no new Adventures
	{{/if}}
	, and 
	{{#if qst_gain}}
		{{qst_gain}} new quests
	{{else}}
		no new Quests
	{{/if}}
	.
</section>