<section class="ScoutSet">
	Please select the amount of gold and time you want for scouting:
	<br>
	<p>
		<input type="text" id="goldSelected" value="" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="1">
	</p>
		<p id="goldSelectedLabel">Gold selected: <span id="goldSelectedValue">0</span></p>
	<p>
		<input type="text" id="timeSelected" value="" data-slider-min="200" data-slider-max="1000" data-slider-step="1" data-slider-value="1">
	</p>
		<p id="timeSelectedLabel">Time you want to spend: <span id="timeSelectedValue">200</span></p>
	<p>
		<button type="button" class="btn btn-primary" id='scoutAssign'>Go for scouting</button>
	</p>
	<div id='alert'></div>
</section>