section {
	margin: 10px;
}

h1 {
	font-family: fantasy !important;
	font-weight: bold !important;
}

.checkbox {
	margin: 0px !important;
}

#showRankings, #loginButton, #backToGame {
	margin-right: 5px !important;
}